.input:focus {
	outline:0;
	border: 2px solid #99ff99;
}

.input {

}

.inputWrapper {
}

.superInput {
	margin: 10px;
	background: #003300;
	color: #99ff99;
}

.errorInput {
	margin: 10px;
	background: #003300;
	color: #99ff99;
	border: 2px solid #dd3355;
}

.errorInput:focus {
}

.error {
	color: #dd3355;
	height: 21px;
	margin-left: 10px;
}
